.inputContainer {
    display: flex;
    flex-direction: column;
}

.errorStyle {
    color: rgb(239 68 68);
}

.inputStyle {
    background-color: rgb(229 231 235);
    border-radius: 0.5rem;
    border-color: rgb(0 0 0 / 0.25);
    border-width: 1px;
}